@font-face {
    font-family: Helvetica;
    src: url(/assert/font/HelveticaNeue-Medium.otf);
}

@font-face {
    font-family: HelveticaLight;
    src: url(/assert/font/HelveticaNeue-Light.otf);
}

@font-face {
    src: url(/assert/font/HelveticaNeue-LightItalic.otf);
    font-family: HelveticaLightThin;
}

.date {
    display: flex;
    height: 90px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

.content {
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-family: Helvetica;
}

.today {
    margin-right: 50px;
}

.admin_content_list {
    display: flex;
}

.admin_menu {
    height: 100vh;
    width: 6%;
    box-shadow: 6px 10px 20px 2px rgba(0, 0, 0, 0.3);

}

.admin_menu_content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.admin_picture img {
    max-width: 80%;
    border-radius: 50%;
}

.admin_menu_list {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    align-items: center;
}

.admin_menu_list img {
    opacity: 0.6;
}

.admin_menu_list_style {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.statistic img {
    padding-left: 2px;
}

.admin_settings img {
    max-width: 60px;
}

.active {
    width: 50px;
    height: 50px;
}

.admin_win {
    height: 100vh;
    width: 66%;
    display: flex;
    flex-direction: column;
}

.search_calendar {
    width: 100%;
    height: 200px;
    position: relative;
}

.search_calendar_content {
    align-items: center;
    position: absolute;
    top: 100px;
    right: 40px;
}

.search_style input {
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    font-family: HelveticaLightThin;
}

.search_style {
    display: flex;
}

.calendar_icon img {
    width: 50px;
    cursor: pointer;
}

/* calendar */

.calendar {
    position: absolute;
    right: 40px;
    z-index: 4;
}

.calendar_code {
    display: none;
}

.wrapper {
    margin: 15px auto;
    max-width: 1100px;
}

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
    color: red;
}

/* friday */
.date-picker:nth-child(6) {
    color: green;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

/*calendar*/



.cals_tab {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cals_tab table {
    width: 91%;
}

.cals_tab_list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91%;
    height: 49px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
    background-color: white;
}

#th_style {
    width: 100%;
    font-family: HelveticaLight;
    display: flex;
    align-items: center;
    text-align: center;
    height: 30px;
}

#th_style th {
    padding: 10px;
    width: 25%;
}

.cals_tab_list {
    display: flex;
    flex-direction: column;
    width: 91%;
}

.cals_tab_list_a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;
    border-radius: 12px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
    margin-top: 28px;
    background-color: white;
}

.cals_tab_list_a:hover {
    background-color: #00B2BE;
    transition: all 1s;
    color: white;
    height: 60px;
}

#th_style img {
    width: 25px;
    cursor: pointer;
}

.audio_style {
    margin-top: 10px;
    width: 100%;
    border-radius: 27px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
    height: 25px;
    display: none;
}

.operator_list {
    height: 100vh;
    width: 28%;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
}

.operator_emmaStone_content {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    margin-top: 44px;
    height: 150px;
}

.operator_picture {
    margin-left: 40px;
}

.operator_circle_out {
    width: 130px;
    height: 130px;
    border: solid 4px rgba(255, 255, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operator_circle_center {
    width: 115px;
    height: 115px;
    border: solid 3px rgba(255, 255, 0, 0.75);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operator_picture img {
    border-radius: 50%;
    border: solid yellow 2px;
    max-width: 100px;
}

.operator_inf {
    margin-left: 40px;
    align-items: center;
}

.operator_inf #op_name {
    font-family: Helvetica;
}

.operator_inf #op_position {
    margin-top: 5px;
    font-family: HelveticaLight;
    opacity: 0.5;
}